# Python Caches & Virtual Envs
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
venv/
env/

# Build Artifacts
build/
dist/
*.exe

# IDE & OS Files
.idea/
.vscode/
.DS_Store
Thumbs.db

# Generated Output & Logs (Klasörleri tut, içindekileri yoksay)
logs/*
!logs/.gitkeep
data/output/*
!data/output/.gitkeep
data/archive/*
!data/archive/.gitkeep

# Input Data
data/input/*
!data/input/.gitkeep

# Virtual Environments
venv/
env/